@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using HealthGateway.Admin.Client.Store.Communications;
@using HealthGateway.Common.Data.Utils;
@using HealthGateway.Database.Constants;

<MudDialog>
    <DialogContent>
        <HgBannerFeedback Severity="@Severity.Error" IsEnabled="@(HasAddError || HasUpdateError)" TResetAction="@CommunicationsActions.ResetStateAction">
            @ErrorMessage
        </HgBannerFeedback>
        <MudForm @ref="Form">
            <MudGrid Spacing="0">
                <MudItem xs="6">
                    <MudDatePicker @ref="@EffectiveDatePicker"
                                   @bind-Date="@EffectiveDate"
                                   Label="Effective Date"
                                   Required="@true"
                                   PickerVariant="@PickerVariant.Dialog"
                                   Culture="@DateFormatter.CanadianCulture"
                                   AutoClose="@true"
                                   DisableToolbar="@true"
                                   Variant="@Variant.Filled"
                                   Margin="@Margin.Dense"
                                   Class="mt-3 mr-3">
                        <PickerActions>
                            <MudButton Class="mr-auto align-self-start"
                                       OnClick="@(() => EffectiveDatePicker.Clear())">
                                Clear
                            </MudButton>
                        </PickerActions>
                    </MudDatePicker>
                </MudItem>
                <MudItem xs="6">
                    <div class="mt-3">
                        <MudTimePicker @ref="@EffectiveTimePicker"
                                       @bind-Time="@EffectiveTime"
                                       Label="Effective Time"
                                       Required="@true"
                                       PickerVariant="@PickerVariant.Dialog"
                                       AmPm="@true"
                                       TimeFormat="h:mm tt"
                                       Variant="@Variant.Filled"
                                       Margin="@Margin.Dense">
                            <PickerActions>
                                <MudButton Class="mr-auto align-self-start"
                                           OnClick="@(() => EffectiveTimePicker.Clear())">
                                    Clear
                                </MudButton>
                                <MudButton OnClick="@(() => EffectiveTimePicker.Close(false))">
                                    Cancel
                                </MudButton>
                                <MudButton Color="@Color.Primary"
                                           OnClick="@(() => EffectiveTimePicker.Close())">
                                    Ok
                                </MudButton>
                            </PickerActions>
                        </MudTimePicker>
                    </div>
                </MudItem>
                <MudItem xs="6">
                    <MudDatePicker @ref="@ExpiryDatePicker"
                                   @bind-Date="@ExpiryDate"
                                   Label="Expiry Date"
                                   Required="@true"
                                   PickerVariant="@PickerVariant.Dialog"
                                   Culture="@DateFormatter.CanadianCulture"
                                   AutoClose="@true"
                                   DisableToolbar="@true"
                                   Variant="@Variant.Filled"
                                   Margin="@Margin.Dense"
                                   Class="mt-3 mr-3">
                        <PickerActions>
                            <MudButton Class="mr-auto align-self-start"
                                       OnClick="@(() => ExpiryDatePicker.Clear())">
                                Clear
                            </MudButton>
                        </PickerActions>
                    </MudDatePicker>
                </MudItem>
                <MudItem xs="6">
                    <div class="mt-3">
                        <MudTimePicker @ref="@ExpiryTimePicker"
                                       @bind-Time="@ExpiryTime"
                                       Label="Expiry Time"
                                       Required="@true"
                                       PickerVariant="@PickerVariant.Dialog"
                                       AmPm="@true"
                                       TimeFormat="h:mm tt"
                                       Variant="@Variant.Filled"
                                       Margin="@Margin.Dense">
                            <PickerActions>
                                <MudButton Class="mr-auto align-self-start"
                                           OnClick="@(() => ExpiryTimePicker.Clear())">
                                    Clear
                                </MudButton>
                                <MudButton OnClick="@(() => ExpiryTimePicker.Close(false))">
                                    Cancel
                                </MudButton>
                                <MudButton Color="@Color.Primary"
                                           OnClick="@(() => ExpiryTimePicker.Close())">
                                    Ok
                                </MudButton>
                            </PickerActions>
                        </MudTimePicker>
                    </div>
                </MudItem>
                <MudItem xs="6">
                    <HgTextField Label="Subject" @bind-Value="Communication.Subject" T="@string" Required="@true" RightMargin="@Breakpoint.Always" />
                </MudItem>
                <MudItem xs="6">
                    <HgSelect Label="Status" @bind-Value="@Communication.CommunicationStatusCode" T="@CommunicationStatus" Required="@true">
                        @foreach (CommunicationStatus status in CommunicationStatuses)
                        {
                            <MudSelectItem Value="@status" />
                        }
                    </HgSelect>
                </MudItem>
                <MudItem xs="12">
                    <HgRichTextEditor Label="Content" InitialValue="@HtmlContent" @ref="@RichTextEditor" />
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <HgButton Color="@Color.Primary" Variant="@Variant.Text" OnClick="@HandleClickCancel">Cancel</HgButton>
        <HgButton Color="@Color.Primary" OnClick="@HandleClickSaveAsync">Save</HgButton>
    </DialogActions>
</MudDialog>
