@using HealthGateway.Common.Data.Utils
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudText Class="mt-4 d-flex justify-space-between align-end" Typo="Typo.subtitle1">
    <div>Assessment History</div>
    <HgButton
        Color="@Color.Success"
        EndIcon="fas fa-clipboard-list"
        OnClick="@NavigateToCovid19TreatmentAssessment"
        Disabled="@IsLoading"
        data-testid="start-covid-19-treatment-assessment-button">
        Start COVID-19 Treatment Assessment
    </HgButton>
</MudText>

<MudTable Class="mt-4"
          Items="@Rows"
          Loading="@IsLoading"
          AllowUnsorted="false"
          Breakpoint="@Breakpoint.Md"
          HorizontalScrollbar="true"
          Striped="true"
          Dense="true"
          data-testid="assessment-history-table">
    <ColGroup>
        <MudHidden Breakpoint="@Breakpoint.MdAndDown">
            <col style="width: 190px;" />
            <col />
        </MudHidden>
    </ColGroup>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<AssessmentDetailRow, object>(x => x.DateTimeOfAssessment)"
                               InitialDirection="@SortDirection.Descending">
                Date
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<AssessmentDetailRow, object>(x => x.FormId ?? string.Empty)">
                ID
            </MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd data-testid="assessment-date" DataLabel="Date">@DateFormatter.ToShortDateAndTime(ConvertDateTime(context.DateTimeOfAssessment))</MudTd>
        <MudTd data-testid="assessment-product" DataLabel="Product">@context.FormId</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
