@using HealthGateway.Common.Data.Utils
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudText Class="mt-4" Typo="Typo.subtitle1">
    Immunizations
</MudText>

<MudTable Class="mt-4"
          Items="@Rows"
          Loading="@IsLoading"
          AllowUnsorted="false"
          Breakpoint="@Breakpoint.Md"
          HorizontalScrollbar="true"
          Striped="true"
          Dense="true"
          data-testid="immunization-table">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VaccineDoseRow, object>(x => x.Date ?? DateOnly.MinValue)"
                               InitialDirection="@SortDirection.Descending">
                Date
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VaccineDoseRow, object>(x => x.Product ?? string.Empty)">
                Product
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VaccineDoseRow, object>(x => x.Lot ?? string.Empty)">
                Lot Number
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VaccineDoseRow, object>(x => x.Location ?? string.Empty)">
                Clinic
            </MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd data-testid="immunization-date" DataLabel="Date">
            @if (context.Date != null)
            {
                @(DateFormatter.ToShortDate(context.Date.Value))
            }
        </MudTd>
        <MudTd data-testid="immunization-product" DataLabel="Product">@context.Product</MudTd>
        <MudTd data-testid="immunization-lot-number" DataLabel="Lot Number">@context.Lot</MudTd>
        <MudTd data-testid="immunization-location" DataLabel="Clinic">@context.Location</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (ContainsInvalidDoses)
{
    <MudAlert data-testid="invalid-dose-alert" Severity="Severity.Warning" Class="mt-4">
        This record has invalid doses.
    </MudAlert>
}

<div class="d-flex justify-end mt-4">
    <HgButton
        EndIcon="fas fa-arrow-rotate-right"
        Variant="@Variant.Filled"
        Color="@Color.Primary"
        Loading="@IsLoading"
        Disabled="@IsLoading"
        OnClick="@Refresh"
        data-testid="refresh-button">
        Refresh
    </HgButton>
</div>
