@{
    Layout = null;
}
@{
    ViewData["Title"] = "Dump Headers";
    <h2>Headers</h2>
    foreach (var key in Context.Request.Headers.Keys)
    {
        var val = Context.Request.Headers[key];
        @:@key: @val
        <br />
    }
    <h2>Request Information</h2>
    @:Client IPV4: @Context.Connection.RemoteIpAddress?.MapToIPv4()
    <br />
    @:Client IPV6: @Context.Connection.RemoteIpAddress?.MapToIPv6()
    <br />
    @:Is HTTPs: @Context.Request.IsHttps
    <br />
    @:Protocol: @Context.Request.Protocol
    <br />
    @:Scheme: @Context.Request.Scheme
    <br />
    @:Path: @Context.Request.Path
    <br />
    @:PathBase: @Context.Request.PathBase
    <br />
    @:Method: @Context.Request.Method
    <br />
}