@page "/claims"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>User Info</PageTitle>
<MudHidden Invert="@(!ConfigurationState.Value.IsLoading)"> 
    <MudProgressLinear Color="Color.Primary" Indeterminate="@(ConfigurationState.Value.IsLoading)" Class="my-7" />
</MudHidden>
<MudContainer>
    <h1>User Info</h1>

    <p>Auth Message: @this.AuthMessage</p>

    <p>Token: @this.Token</p>
    @if (this.Claims.Count() > 0)
    {
        <ul>
            @foreach (var claim in this.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    }

    <p>@this.SurnameMessage</p>

    <p>IP Address: @(ConfigurationState.Value.Result?.WebClient.ClientIP ?? ConfigurationState.Value.Error?.Message)</p>
</MudContainer>
