@page "/patient-details"
@layout MainLayout
@attribute [Authorize(Roles = $"{Roles.Admin},{Roles.Reviewer},{Roles.Support}")]
@using HealthGateway.Admin.Client.Components.Details
@using HealthGateway.Admin.Client.Store.PatientDetails
@using HealthGateway.Admin.Client.Store.PatientSupport
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Health Gateway Admin Patient Details</PageTitle>

<MudLink Href="/support?details" data-testid="patient-details-back-button">
    <MudText Typo="Typo.h5" class="mb-4">
        <MudIcon Icon="fas fa-arrow-left" /><span class="ml-2">Back</span>
    </MudText>
</MudLink>

<HgBannerFeedback
    Severity="Severity.Error"
    IsEnabled="HasPatientSupportDetailsError"
    TResetAction="PatientDetailsActions.ResetStateAction"
    DataTestId="messaging-verification-banner-feedback-error-message"
    Class="mb-4">
    @PatientDetailsState.Value.Error?.Message
</HgBannerFeedback>

<HgBannerFeedback
    Severity="Severity.Error"
    IsEnabled="HasPatientsError"
    TResetAction="PatientSupportActions.ResetStateAction"
    DataTestId="user-banner-feedback-error-message"
    Class="mb-4">
    @PatientSupportState.Value.Error?.Message
</HgBannerFeedback>

<HgBannerFeedback
    Severity="@Severity.Info"
    IsEnabled="HasPatientsWarning"
    TResetAction="PatientSupportActions.ResetStateAction"
    DataTestId="user-banner-feedback-warning-message"
    Class="mb-4">
    <ul>
        @foreach (string warning in PatientSupportState.Value.WarningMessages)
        {
            <li>@warning</li>
        }
    </ul>
</HgBannerFeedback>

@if (ShowStatusWarning)
{
    <HgBannerFeedback
        Severity="@Severity.Info"
        IsEnabled="@(!string.IsNullOrEmpty(StatusWarning))"
        TResetAction="PatientSupportActions.ResetStateAction"
        Class="my-4"
        DataTestId="user-banner-feedback-status-warning-message">
        @StatusWarning
    </HgBannerFeedback>
}

@if (Patient != null)
{
    <HgTabs data-testid="patient-details-tabs" PanelClass="pa-4">
        <ChildContent>
            <MudTabPanel Text="Profile">
                <ProfileTab Phn="@Phn" />
            </MudTabPanel>

            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Reviewer}")">
                <MudTabPanel Text="Account">
                    <AccountTab Phn="@Phn" />
                </MudTabPanel>
            </AuthorizeView>

            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Reviewer}")">
                @if (IsGatewayUser)
                {
                    <MudTabPanel Text="Manage">
                        <ManageTab Phn="@Phn" />
                    </MudTabPanel>
                }
            </AuthorizeView>

            <AuthorizeView Roles="@Roles.Admin">
                @if (IsGatewayUser)
                {
                    <MudTabPanel Text="Notes">
                        <NotesTab />
                    </MudTabPanel>
                }
            </AuthorizeView>
        </ChildContent>
    </HgTabs>
}
else if (PatientsLoaded)
{
    <MudText Class="mt-4" Typo="Typo.h6">
        No user found with the specified HDID.
    </MudText>
}
else
{
    <MudProgressCircular Indeterminate="true" Size="Size.Large" Class="mt-4" />
}
