@inherits LayoutComponentBase
<MudThemeProvider Theme="@CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <MudText Typo="Typo.h6" Class="ml-4">HG Admin</MudText>
        <MudSpacer />
        <MudTooltip Text="Toggle Dark Mode">
            <MudIconButton Icon="@Icons.Material.Filled.BrightnessMedium" Color="Color.Inherit" Edge="Edge.End" OnClick="ToggleTheme" />
        </MudTooltip>
        <AuthorizeView>
            <Authorized>
                <MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                    <ActivatorContent>
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" data-testid="user-account-icon" />
                    </ActivatorContent>
                    <ChildContent>
                        <MudNavLink href="user-info" Typo="Typo.h6" Underline="Underline.None" align="center" Disabled="@UserInfoDisabled" data-testid="user-info-link">
                            @(context.User.Identity?.Name ?? "Unknown")
                        </MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Outlined.Login" OnClick="BeginSignOut" data-testid="logout-text-link">Logout</MudNavLink>
                    </ChildContent>
                </MudMenu>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="DrawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-6">
            <main>
                @Body
            </main>
        </MudContainer>
    </MudMainContent>
</MudLayout>
