@using Microsoft.Extensions.Primitives
@{
    ViewData["Title"] = "Dump Headers";
    <h2>Headers</h2>
    foreach (string key in Context.Request.Headers.Keys)
    {
        StringValues val = Context.Request.Headers[key];
        @:@key: @val <br />
    }
    <h2>Request Information</h2>
    @:Client IP: @Context.Connection.RemoteIpAddress<br />
    @:Is HTTPs: @Context.Request.IsHttps<br />
    @:Protocol: @Context.Request.Protocol<br />
    @:Scheme: @Context.Request.Scheme<br />
    @:Path: @Context.Request.Path<br />
    @:PathBase: @Context.Request.PathBase<br />
    @:Method: @Context.Request.Method<br />
}
